
/* CSS for ESC - Hacker Escape Rooms, site */

html {
  padding: 0;
  margin: 0;
}

:root {
  --darkerBlueColor: #36769D;
  --lightblueColor: #8ACFE5;
  --redColor: #E3170A;
  --blackColor: #011827;
}

body {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  font-family: 'roboto', sans-serif;
  /* Roboto, system-ui, 
    -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif; */
  line-height: 1.2;
  letter-spacing: 0.1px;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: none;
  margin: 0 auto;
  max-width: 1280px;
  width: vw100;
  background-color: white;
}

p {
  padding: 28px;
  margin: 0;
}

a:link, .onlineChallengesLink {
  color: var(--darkerBlueColor);
  font-size: 16px;
  font-weight: 700;
}

a:visited, .onlineChallengesLink {
  color: var(--darkerBlueColor);
  font-size: 16px;
  font-weight: 700;
}

button {
  border: 0;
  border-radius: 4px;
}

/* HEADER CONTENT -------------------------------------------------------------------------------------- */

.header {
  width: 100%;
  height: 144px;
  background-color: var(--blackColor);
  text-align: left;
  position: relative;
}

.insideHeaderDiv {
  width: vw100;
  height: 110px;
}

.inlineBlock1 {
  display: inline-block;
  width: 120px;
  padding: 26px 0 0 26px;
  position: absolute;
  top: 0px;
  left: 0;
}

.inlineBlock2 {
  display: inline-block;
  width: 200px;
  padding: 24px 0 0 0;
  position: absolute;
  top: 0px;
  left: 167px;
}

h1.styleHone {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

h1 span {
  display: block;
}

/* FIRST Navigation area ------------------------------------------------------------------------------ */

.firstNav {
  display: none;
  max-width: 1280px;
  width: 100%;
  height: 64px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

a.navOne {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0 37px 0 37px;
}

a:hover.navOne {
  color: var(--lightblueColor);
}

.firstNavSpan {
  display: inline-block;
  padding: 10px 20px 0 20px;
}

/* END (FIRST Navigation area) ------------------------------------------------------------------------- */
/* END (HEADER CONTENT) ------------------------------------------------------------------------------- */

.oneSec {
  width: vw100;
  height: 274px;
  background-image: url('esc_imgs/ESC_section-img_SMALLERv.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* FIRST TWO buttons ----------------------------------------------------------------------------------- */

.twoButtons {
  width: vw100;
  max-width: 635px;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  position: relative;

}

.buttonChallengeOne {
  display: inline-block;
  width: 308px;
  height: 66px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--lightblueColor);
  position: static;
  top: -20px;
}

.buttonChallengeTwo {
  display: none;
  width: 308px;
  height: 66px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: var(--redColor);
}

/* END (FIRST TWO buttons) ------------------------------------------------------------------------------ */

/* FLEX ONE/2 content ----------------------------------------------------------------------------------- */

.flexOne {
  display: flex;
  width: vw100;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.siteReviews {
  height: 200px;
  max-width: 460px;
  text-align: left;
  margin-top: 20px;
}

.oneFlexOne {
  height: 230px;
  margin-left: auto;
  padding: 20px 0 20px 0;
}

.twoFlexOne {
  height: 200px;
  margin-right: auto;
  padding: 10px 0 20px 0;
}

.siteReviewsDiv1 {
  float: left;
  width: 114px;
  height: 200px;
}

.siteReviewsDiv2 {
  width: auto;
  height: 200px;
}

.quoteText {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  padding: 9px 24px 0 0;
  word-wrap: break-all;
}

.quoteTextWho {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0 0 0;
}

img.siteReviewsImage {
  width: 73.34px;
  padding: 12px 0 0 20px;
}

.siteReviewsTimeBlock {
  display: inline-block;
}

/* END (FLEXBOX ONE content) ---------------------------------------------------------------------------- */

/* FLEX TWO/3 content ----------------------------------------------------------------------------------- */

.flexTwo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  height: 620px;
  margin: 0 auto;
}

.popularChallengesWrapper {
  display:flex;
  flex-direction: row;
  column-gap: 4%;
  overflow: auto;
  white-space: wrap;
  width: 1200px;
  height: 506px;
  padding-left: 52px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 40px;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  padding: 7px 0 0 0;
  margin: 0 0 0 14px;
}

.popuChallengesStars {
  display: block;
  float: left;
  width: 150px;
  text-align: left;
  padding: 0 0 0 17px;
}

.popuChallengesParticipants {
  display: block;
  float: right;
  width: 150px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 0;
  margin-right: 10px;
}

.starM {
  padding-right: 5px;
}

.starUnM {
  padding-right: 5px;
}

.threeFlexTwo {
  width: 363px;
  height: 446px;
  background-color: white;
  margin-top: 14px;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px rgba(100, 100, 100, .1), 0 0 5px 3px rgba(100, 100, 100, .1);
  position: relative;
}

.popularChallengeImage {
  width: 362px;
  height: auto;
}

.popuChallengesInfoDiv {
  width: 363px;
  height: 140px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}

.popuChallengesInfo {
  font-size: 18px;
  font-weight: 400;
  padding: 0 6px 0 17px;
}

.popuChallengesButton {
  width: 179.28px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* END (FLEX TWO/3 content) ----------------------------------------------------------------------------- */

/* SECOND TWO buttons ----------------------------------------------------------------------------------- */

.twoButtons2 {
  width: vw100;
  height: 90px;
  max-width: 635px;
  padding: 0 0 80px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.buttonChallengeOne2 {
  display: inline-block;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  background-color: var(--lightblueColor);
}

.buttonChallengeTwo2 {
  display: none;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  background-color: var(--redColor);
}

/* END (SECOND TWO buttons) ----------------------------------------------------------------------------- */

.twoSec {
  width: vw100;
  height: 500px;
  background-color: var(--blackColor);
}

.textBoxTwoSec {
  width: 480px;
  height: 380px;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  text-overflow: clip;
  color: white;
  padding-top: 90px;
}

.readStoryButton {
  display: inline-block;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  color: var(--lightblueColor);
  background-color: var(--blackColor);
  border: 2px solid var(--lightblueColor);
  border-radius: 4px;
}

/* SQUARE GRID wrapper ----------------------------------------------------------------------------------- */

.squareGrid {
  display: grid;
  grid-template-columns: 480px;
  grid-template-rows: 300px 450px 300px 450px;
  gap: 0;
  max-width: 480px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 140px;
}

h2.squareGridHtwo {
  font-size: 32px;
  font-weight: 700;
  padding: 20px 0 0 20px;
}

p.pSquaregrid {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0 0 20px;
}

.boxSquareGrid1 {
  display: inline-block;
  background-image: url('esc_imgs/nesa-by-makers-480x300.png');
  width: 480px;
  height: 300px;
}

.boxSquareGrid2 {
  display: inline-block;
  color: var(--blackColor);
  width: 480px;
  position: relative;
}

.boxSquareGrid3 {
  display: inline-block;
  grid-column: 1;
  grid-row: 4 / 4;
  color: var(--blackColor);
  width: 480px;
  margin-bottom: 50px;
  position: relative;
}

.boxSquareGrid4 {
  display: inline-block;
  grid-column: 1;
  grid-row: 3 / 4;
  background-image: url('esc_imgs/kelly-sikkema-480x300.png');
  width: 480px;
  height: 300px;
}

.textDivSquareGrid {
  width: 440px;
  height: 380px;
  position: relative;
  top: 38px;
}

.buttonBookSquareGrid {
  display: inline-block;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.buttonChallengesSquareGrid {
  display: inline-block;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/* END (SQUARE GRID wrapper) ------------------------------------------------------------------------------ */

footer {
  width: 1280px;
  height: 566px;
  background-color: var(--blackColor);
}

.secondNav {
  text-align: left;
  padding-top: 7px;
  padding-left: 20px;
}

.abroadNav {
  text-align: left;
  padding-top: 7px;
  padding-left: 20px;
}

.secondNavSpan {
  display: block;
}

.secondNavBreakrow::before {
  content: '\a';
  white-space: pre;
}

/* FLEX THREE/3 content ----------------------------------------------------------------------------------- */

.footerWrapFlexThree {
  width: vw100;
  height: 566px;
  color: white;
}

.sectionWrapFlexThree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0;
  width: 480px;
  height: auto;
  position: relative;
}

.aboutFlexThree {
  width: 416px;
  height: auto;
  padding-top: 50px;
  font-size: 1.16em;
  flex: 100%;
}

.navBoxFlexThree {
  width: 480px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 100%;
}

.navAbroadFlexThree {
  width: 480px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  flex: 100%;
}

h3.headerFlexThree {
  font-size: 18px;
  font-weight: 700;
  padding-left: 7px;
}

p.aboutTextFlexThree {
  font-size: 18px;
  font-weight: 400;
  padding: 9px 20px 25px 20px;
}

a.navTwo {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

a:hover.navTwo {
  color: var(--lightblueColor);
}

a.navThree {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

a:hover.navThree {
  color: var(--lightblueColor);
}

/* END (FLEX THREE/3 content) ----------------------------------------------------------------------------- */

/* @media queries ----------------------------------------------------------------------------------------- */

@media only screen and (max-width: 430px) {

}

@media only screen and (max-width: 480px) {
  .container {
    width: vw100;
    max-width: 480px;
  }

  .oneFlexOne {
    margin-left: 0;
  }

  .twoFlexOne {
    display: none;
  }

  h2 {
  font-size: 2em;
  font-weight: 400;
  padding: 20px 0 0 0;
}
}

@media only screen and (max-width: 640px) and (min-width: 499px) {
.textBoxTwoSec {
  max-width: 480px;
  }
}

@media only screen and (min-width: 700px) {
  .header {
    height: 216px;
  }

  .firstNav {
    display: inline-block;
  }

.squareGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 460px 460px;
  gap: 0;
  max-width: 1280px;
  height: 920px;
  margin: 0 auto;
}

.boxSquareGrid1 {
  grid-column: 1;
  grid-row: 1 / 1;
  background-image: url('esc_imgs/nesa-by-makers-640x460.png');
  width: 640px;
  height: 460px;
}

.boxSquareGrid2 {
  grid-column: 2;
  grid-row: 1 / 2;
  width: 640px;
  position: relative;
}

.boxSquareGrid3 {
  grid-column: 1;
  grid-row: 2 / 2;
  margin-bottom: 50px;
  width: 640px;
  position: relative;
}

.boxSquareGrid4 {
  grid-column: 2;
  grid-row: 2 / 2;
  background-image: url('esc_imgs/kelly-sikkema-img-640x460.png');
  width: 640px;
  height: 460px;
}

.inlineBlock2 {
  width: 500px;
  left: 178px;
  top: 33px;
}

  h1.styleHone {
  font-size: 40px;
}

h1 span {
  display: unset;
}

  .oneSec {
    width: vw100;
    height: 468px;
    background-image: url('esc_imgs/ESC_section-img_BIG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .twoButtons {
    height: 70px;
  }

  .buttonChallengeTwo {
    display: inline-block;
    left: 0;
    position: absolute;
    top: -35px;
  }

  .buttonChallengeOne {
    position: absolute;
    right: 0;
    top: -35px;
  }

  .linkHidden {
    display: none;
  }

  .twoButtons2 {
    height: 80px;
    padding-top: 60px;
  }

  .buttonChallengeTwo2 {
    display: inline-block;
    left: 0;
    position: absolute;
  }

  .buttonChallengeOne2 {
    position: absolute;
    right: 0;
  }

  .linkHidden2 {
    display: none;
  }

  .flexOne {
    flex-direction: row;
  }

  .oneFlexOne {
    margin-left: auto;
  }

  .twoFlexOne {
    display: block;
  }

  .siteReviews {
    max-width: 560px;
  }

  .siteReviewsDiv1 {
    width: 130px;
  }

  .quoteTextWho {
    padding: 14px 0 0 0;
  }

  img.siteReviewsImage {
    width: 96px;
  }

  .siteReviewsTimeBlock {
    display: block;
  }

footer {
  height: 467px;
}

.sectionWrapFlexThree {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutFlexThree {
  flex: 33%;
  height: auto;
  padding: 130px 200px 0 100px;
}

.navBoxFlexThree {
  flex: 13%;
  height: auto;
  padding-top: 130px;
}

.navAbroadFlexThree  {
  flex: 22%;
  height: auto;
  padding-top: 130px;
}
}

@media only screen and (max-width: 960px) {
a.navOne {
  font-size: 1.4em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 0 20px 0 20px;
}
}

@media only screen and (max-width: 810px) {
a.navOne {
  font-size: 1.3em;
  padding: 0 7px 0 7px;
}

.quoteTextWho {
  font-size: 1.1em;
}
}