
/* CSS for ESC - Hacker Escape Rooms, site */

html { 
    font-size: 1rem;
    padding: 0; 
    margin: 0;
    overflow: hidden;
}

body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, system-ui, 
            -apple-system, BlinkMacSystemFont, 
            'Segoe UI', Oxygen, Ubuntu, Cantarell, 
            'Open Sans', 'Helvetica Neue', sans-serif;
 }

.container { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: none;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    background-color: white;
 }

 .header { 
    width: 100%;
    height: 144px;
    background-color: #011827;
    position: relative;

  }

  h1.styleHone { 
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: white;

  }

  h1 > span {
    display: block;
  }

  pre {
    margin: 0;
    padding: 0;
  }

  .inlineBlock1 {
    width: 40%;
    padding: 31px;
    position: absolute;
    top: 0px;
    left: 0;
  }

.inlineBlock2 {
    width: 47%;
    padding: 31px;
    position: absolute;
    top: 0px;
    left: 38%;
  }

  .oneSec {
    width: 480px;
    height: 274px;
    background-image: url('esc_imgs/ESC_section-img_BIG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .oneFlex {
    max-width: 380px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding-top: 20px;
  }

  .twoFlex {
    max-width: 380px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
    padding-top: 20px;
    position: relative;
  }

  .buttonChallengeOne {
    width: 308px;
    height: 66px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #8ACFE5;
    border: 0;
/*     position: absolute;
    top: -20px; */
  }