/* CSS for ESC - Hacker Escape Rooms, site */
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --darkerBlueColor: #36769D;
  --lightblueColor: #8ACFE5;
  --redColor: #E3170A;
  --blackColor: #011827;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.1px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100vw;
  background-color: white;
}

p {
  padding: 28px;
  margin: 0;
}

a:link, a:visited, aonlineChallengesLink {
  color: var(--darkerBlueColor);
  font-size: 16px;
  font-weight: 600;
}

button {
  border: 0;
  border-radius: 4px;
  width: 278px;
  height: 56px;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 40px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  padding: 7px 0 0 0;
  margin: 0 0 0 14px;
}

/* #region HEADER content */
.header {
  width: 100%;
  height: 144px;
  background-color: var(--blackColor);
  text-align: left;
  position: relative;
}

.insideHeaderDiv {
  width: 100%;
  height: 110px;
}

.inlineBlock1 {
  display: inline-block;
  width: 120px;
  padding: 26px 0 0 26px;
  position: absolute;
  top: 0px;
  left: 0;
}

.inlineBlock2 {
  display: inline-block;
  width: 200px;
  padding: 24px 0 0 0;
  position: absolute;
  top: 0px;
  left: 167px;
}

h1.styleHone {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}

h1 span {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

/* #endregion END (HEADER content) */
/* #region FIRST Navigation area ------------------------------------------------------------------------------ */
.fa-bars {
  display: block;
  color: white;
  font-size: 36px;
  position: absolute;
  top: 20px;
  right: 26px;
}

.fa-close {
  color: white;
  font-size: 36px;
  position: fixed;
  top: 20px;
  right: 26px;
}

.mobileFirstNav {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(187, 187, 187, 0.5);
}

.mobileFirstNavIn {
  display: none;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--blackColor);
}

.firstNav {
  display: block;
  max-width: 700px;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

a.navOne {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0 37px 0 37px;
}

a:hover.navOne {
  color: var(--lightblueColor);
}

.firstNavSpan {
  display: inline-block;
  padding: 14px 20px 0 20px;
  line-height: 6em;
}

/* #endregion END (FIRST Navigation area) ------------------------------------------------------------------------- */
/* #region FLEX ONE/2 content ----------------------------------------------------------------------------------- */
.flexOne {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.siteReviews {
  width: 100%;
  max-width: 460px;
  height: 200px;
  text-align: left;
  margin-top: 20px;
}

.oneFlexOne {
  height: 230px;
  margin-left: auto;
  padding: 20px 0 20px 0;
}

.twoFlexOne {
  display: none;
  height: 200px;
  margin-right: auto;
  padding: 10px 0 20px 0;
}

.siteReviewsDiv1 {
  float: left;
  width: 114px;
  height: 200px;
}

.siteReviewsDiv2 {
  width: auto;
  height: 200px;
}

.quoteText {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 9px 24px 0 0;
  word-wrap: break-all;
}

.quoteTextWho {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0 0 0;
}

img.siteReviewsImage {
  width: 73px;
  padding: 12px 0 0 20px;
}

.siteReviewsTimeBlock {
  display: inline-block;
}

/* #endregion END (FLEXBOX ONE content) ---------------------------------------------------------------------------- */
/* #region FLEX TWO/3 content -------------------------------------------------------------------------- */
.flexTwo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  height: 620px;
  margin: 0 auto;
}

.popularChallengesWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 4%;
  overflow: auto;
  white-space: wrap;
  width: 1200px;
  height: 506px;
  padding-left: 52px;
}

.threeFlexTwo {
  width: 300px;
  height: 446px;
  background-color: white;
  margin-top: 14px;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px rgba(100, 100, 100, 0.1), 0 0 5px 3px rgba(100, 100, 100, 0.1);
  position: relative;
}

:hover.threeFlexTwo {
  box-shadow: 0 0 10px 3px rgba(100, 100, 100, 0.2), 0 0 7px 3px rgba(100, 100, 100, 0.2);
}

.popuChallengesImage {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.popuChallengesInfoDiv {
  width: 300px;
  height: 140px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}

.popuChallengesInfo {
  font-size: 16px;
  font-weight: 400;
  padding: 0 6px 0 17px;
}

.popuChallengesButton {
  width: 180px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.popuChallengesStars {
  display: block;
  float: left;
  width: 150px;
  text-align: left;
  padding: 0 0 0 17px;
}

.popuChallengesParticipants {
  display: block;
  float: right;
  width: 150px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 0;
  margin-right: 10px;
}

.starChecked {
  padding-right: 5px;
}

.starUnChecked {
  padding-right: 5px;
}

/* #endregion END (FLEX TWO/3 content) ------------------------------------------------------------------ */
.oneSec {
  width: 100%;
  height: 274px;
  background-image: url("esc_imgs/ESC_section-img_SMALLERv.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* #region FIRST TWO buttons ----------------------------------------------------------------------------------- */
.twoButtons {
  width: 100%;
  max-width: 635px;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.buttonChallengeOne {
  display: inline-block;
  margin: 0 auto;
  background-color: var(--lightblueColor);
  position: static;
  top: -20px;
}

.buttonChallengeTwo {
  display: none;
  margin: 0 auto;
  color: white;
  background-color: var(--redColor);
}

/* #endregion END (FIRST TWO buttons) ------------------------------------------------------------------------------ */
/* #region SECOND TWO buttons ----------------------------------------------------------------------------------- */
.twoButtons2 {
  width: 100%;
  height: 90px;
  max-width: 635px;
  padding: 0 0 80px 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.buttonChallengeOne2 {
  display: inline-block;
  margin: 0 auto;
  background-color: var(--lightblueColor);
}

.buttonChallengeTwo2 {
  display: none;
  color: white;
  margin: 0 auto;
  background-color: var(--redColor);
}

/* #endregion END (SECOND TWO buttons) ----------------------------------------------------------------------------- */
.twoSec {
  width: 100%;
  height: 500px;
  background-color: var(--blackColor);
}

.textBoxTwoSec {
  width: 100%;
  height: 380px;
  margin: 0 auto;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
  padding-top: 60px;
}

.readStoryButton {
  display: inline-block;
  margin-top: 10px;
  color: var(--lightblueColor);
  background-color: var(--blackColor);
  border: 2px solid var(--lightblueColor);
  border-radius: 4px;
}

/* #region SQUARE GRID wrapper ----------------------------------------------------------------------------------- */
.squareGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 370px 300px 390px;
  gap: 0;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 0;
}

h2.squareGridHtwo {
  font-size: 27px;
  font-weight: 700;
  padding: 0 0 0 20px;
}

p.pSquaregrid {
  font-size: 23px;
  font-weight: 400;
  padding: 20px 0 0 20px;
}

.boxSquareGrid1 {
  display: inline-block;
  background-image: url("esc_imgs/nesa-by-makers-480x300.png");
  background-size: contain;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

.boxSquareGrid2 {
  display: inline-block;
  color: var(--blackColor);
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.boxSquareGrid3 {
  display: inline-block;
  grid-column: 1;
  grid-row: 4/4;
  color: var(--blackColor);
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.boxSquareGrid4 {
  display: inline-block;
  grid-column: 1;
  grid-row: 3/4;
  background-image: url("esc_imgs/kelly-sikkema-480x300.png");
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

.textDivSquareGrid {
  width: 89%;
  height: 300px;
  position: relative;
  top: 38px;
}

.buttonBookSquareGrid {
  display: inline-block;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  left: 20px;
  bottom: 40px;
}

.buttonChallengesSquareGrid {
  display: inline-block;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  left: 20px;
  bottom: 40px;
}

/* #endregion END (SQUARE GRID wrapper) ------------------------------------------------------------------------------ */
footer {
  max-width: 1280px;
  width: 100%;
  height: 566px;
  background-color: var(--blackColor);
}
footer .secondNav,
footer .abroadNav {
  text-align: left;
  padding-top: 7px;
  padding-left: 20px;
}
footer .secondNavSpan {
  display: block;
}
footer .secondNavBreakrow::before {
  content: "\a";
  white-space: pre;
}

/* #region FLEX THREE/3 content ----------------------------------------------------------------------------------- */
.footerWrapFlexThree {
  width: 100%;
  height: 566px;
  color: white;
}

.sectionWrapFlexThree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 0;
  width: 100%;
  height: auto;
  position: relative;
}

.aboutFlexThree {
  width: 100%;
  height: auto;
  padding-top: 50px;
  font-size: 1.16em;
  flex: 100%;
}

.navBoxFlexThree {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 100%;
}

.navAbroadFlexThree {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  flex: 100%;
}

h3.headerFlexThree {
  font-size: 18px;
  font-weight: 700;
  padding-left: 7px;
}

p.aboutTextFlexThree {
  font-size: 18px;
  font-weight: 400;
  padding: 9px 20px 25px 20px;
}

a.navTwo {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

a:hover.navTwo {
  color: var(--lightblueColor);
}

a.navThree {
  font-size: 16px;
  color: white;
  text-decoration: none;
}

a:hover.navThree {
  color: var(--lightblueColor);
}

/* #endregion END (FLEX THREE/3 content) ----------------------------------------------------------------------------- */
/* #region @media queries ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 430px) {
  h2 {
    font-size: 24px;
  }
  .textBoxTwoSec {
    width: 100%;
    height: 390px;
    font-size: 20px;
    padding-top: 60px;
  }
  .quoteText {
    font-size: 18px;
  }
  .quoteTextWho {
    font-size: 14px;
  }
  .squareGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 370px 300px 390px;
    gap: 0;
    width: 100%;
  }
  .textDivSquareGrid {
    height: 330px;
  }
  .aboutFlexThree {
    width: 100%;
    max-width: 390px;
  }
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 560px) {
  .oneSec {
    height: 340px;
  }
  .threeFlexTwo {
    width: 363px;
  }
  .popuChallengesImage {
    width: 363px;
  }
  .popuChallengesInfoDiv {
    width: 363px;
  }
}
@media only screen and (min-width: 700px) {
  .oneSec {
    height: 400px;
  }
  .header {
    height: 200px;
  }
  .fa-bars {
    display: none;
  }
  .fa-close {
    display: none;
  }
  .mobileFirstNav {
    display: block;
    position: unset;
    background-color: unset;
  }
  .mobileFirstNavIn {
    display: block;
    position: unset;
    background-color: unset;
  }
  .firstNav {
    max-width: 1280px;
    width: 100vw;
    height: 70px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .firstNavSpan {
    line-height: 2em;
  }
  .quoteText {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    padding: 9px 24px 0 0;
    word-wrap: break-all;
  }
  .quoteTextWho {
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0 0 0;
  }
  .textBoxTwoSec {
    width: 600px;
    height: 390px;
    font-size: 24px;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 910px) {
  .oneFlexOne {
    margin: 0 auto;
  }
  .firstNav {
    height: 50px;
    bottom: 0;
  }
  .firstNavSpan {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (min-width: 911px) {
  .header {
    height: 216px;
  }
  .firstNav {
    display: block;
  }
  button {
    width: 308px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
  }
  .textDivSquareGrid {
    width: 67%;
    margin: 0 auto;
    height: 370px;
    position: relative;
    padding-top: 38px;
  }
  .buttonBookSquareGrid {
    position: absolute;
    bottom: 80px;
  }
  .buttonChallengesSquareGrid {
    position: absolute;
    bottom: 80px;
  }
  .squareGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px 460px;
    gap: 0;
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin-bottom: 160px;
  }
  .boxSquareGrid1 {
    grid-column: 1;
    grid-row: 1/1;
    background-image: url("esc_imgs/nesa-by-makers-640x460.png");
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
  .boxSquareGrid2 {
    grid-column: 2;
    grid-row: 1/2;
    width: 100%;
    position: relative;
  }
  .boxSquareGrid3 {
    grid-column: 1;
    grid-row: 2/2;
    margin-bottom: 50px;
    width: 100%;
    position: relative;
  }
  .boxSquareGrid4 {
    grid-column: 2;
    grid-row: 2/2;
    background-image: url("esc_imgs/kelly-sikkema-img-640x460.png");
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
  .inlineBlock2 {
    width: 500px;
    left: 178px;
    top: 33px;
  }
  h1.styleHone {
    font-size: 40px;
  }
  h1 span {
    display: unset;
  }
  .oneSec {
    width: 100%;
    height: 468px;
    background-image: url("esc_imgs/ESC_section-img_BIG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .twoButtons {
    height: 70px;
  }
  .buttonChallengeTwo {
    display: inline-block;
    left: 0;
    position: absolute;
    top: -35px;
  }
  .buttonChallengeOne {
    position: absolute;
    right: 0;
    top: -35px;
  }
  .linkHidden {
    display: none;
  }
  .twoButtons2 {
    height: 80px;
    padding-top: 60px;
  }
  .buttonChallengeTwo2 {
    display: inline-block;
    left: 0;
    position: absolute;
  }
  .buttonChallengeOne2 {
    position: absolute;
    right: 0;
  }
  .linkHidden2 {
    display: none;
  }
  .flexOne {
    flex-direction: row;
  }
  .oneFlexOne {
    margin-left: auto;
  }
  .twoFlexOne {
    display: block;
  }
  .siteReviews {
    max-width: 560px;
  }
  .siteReviewsDiv1 {
    width: 130px;
  }
  .quoteTextWho {
    padding: 14px 0 0 0;
  }
  img.siteReviewsImage {
    width: 96px;
  }
  .siteReviewsTimeBlock {
    display: block;
  }
  footer {
    height: 467px;
  }
  .sectionWrapFlexThree {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .aboutFlexThree {
    flex: 33%;
    height: auto;
    padding: 130px 150px 0 100px;
  }
  .navBoxFlexThree {
    flex: 13%;
    height: auto;
    padding-top: 130px;
  }
  .navAbroadFlexThree {
    flex: 22%;
    height: auto;
    padding-top: 130px;
  }
}
@media only screen and (max-width: 960px) {
  a.navOne {
    font-size: 22px;
    padding: 0 30px 0 30px;
  }
}
@media only screen and (max-width: 980px) {
  h2.squareGridHtwo {
    font-size: 26px;
  }
  p.pSquaregrid {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1166px) {
  .buttonBookSquareGrid {
    position: absolute;
    bottom: 40px;
  }
  .buttonChallengesSquareGrid {
    position: absolute;
    bottom: 40px;
  }
}
/* #endregion END (@media queries) ----------------------------------------------------------------------------- */
