
/* #region FLEX TWO/3 content -------------------------------------------------------------------------- */

.flexTwo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  height: 620px;
  margin: 0 auto;
}

.popularChallengesWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 4%;
  overflow: auto;
  white-space: wrap;
  width: 1200px;
  height: 506px;
  padding-left: 52px;
}

.threeFlexTwo {
  width: 300px;
  height: 446px;
  background-color: white;
  margin-top: 14px;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px rgba(100, 100, 100, .1), 0 0 5px 3px rgba(100, 100, 100, .1);
  position: relative;
}

:hover.threeFlexTwo {
    box-shadow: 0 0 10px 3px rgba(100, 100, 100, .2), 0 0 7px 3px rgba(100, 100, 100, .2);
}

.popuChallengesImage {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.popuChallengesInfoDiv {
  width: 300px;
  height: 140px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}

.popuChallengesInfo {
  font-size: 16px;
  font-weight: 400;
  padding: 0 6px 0 17px;
}

.popuChallengesButton {
  width: 180px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: var(--redColor);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.popuChallengesStars {
  display: block;
  float: left;
  width: 150px;
  text-align: left;
  padding: 0 0 0 17px;
}

.popuChallengesParticipants {
  display: block;
  float: right;
  width: 150px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 0;
  margin-right: 10px;
}

.starChecked {
  padding-right: 5px;
}

.starUnChecked {
  padding-right: 5px;
}

/* #endregion END (FLEX TWO/3 content) ------------------------------------------------------------------ */