/* #region HEADER content */

.header {
  width: 100%;
  height: 144px;
  background-color: var(--blackColor);
  text-align: left;
  position: relative;
}

.fa-bars {
  color: white;
  font-size:36px;
  position: absolute;
  top: 26px;
  right: 26px;
}

.insideHeaderDiv {
  width: 100%;
  height: 110px;
}

.inlineBlock1 {
  display: inline-block;
  width: 120px;
  padding: 26px 0 0 26px;
  position: absolute;
  top: 0px;
  left: 0;
}

.inlineBlock2 {
  display: inline-block;
  width: 200px;
  padding: 24px 0 0 0;
  position: absolute;
  top: 0px;
  left: 167px;
}

h1.styleHone {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}

h1 span {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

/* #endregion END (HEADER content) */
/* #region FIRST Navigation area ------------------------------------------------------------------------------ */

.mobileFirstNav {
  display: none;
}

.firstNav {
  max-width: 1280px;
  width: 100%;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

a.navOne {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0 37px 0 37px;
}

a:hover.navOne {
  color: var(--lightblueColor);
}

.firstNavSpan {
  display: inline-block;
  padding: 14px 20px 0 20px;
}

/* #endregion END (FIRST Navigation area) ------------------------------------------------------------------------- */