/* #region HEADER content */

.header {
  width: 100%;
  height: 144px;
  background-color: var(--blackColor);
  text-align: left;
  position: relative;
}

.insideHeaderDiv {
  width: 100%;
  height: 110px;
}

.inlineBlock1 {
  display: inline-block;
  width: 120px;
  padding: 26px 0 0 26px;
  position: absolute;
  top: 0px;
  left: 0;
}

.inlineBlock2 {
  display: inline-block;
  width: 200px;
  padding: 24px 0 0 0;
  position: absolute;
  top: 0px;
  left: 167px;
}

h1.styleHone {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
}

h1 span {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

/* #endregion END (HEADER content) */
/* #region FIRST Navigation area ------------------------------------------------------------------------------ */

.fa-bars {
  display: block;
  color: white;
  font-size:36px;
  position: absolute;
  top: 20px;
  right: 26px;
}

.fa-close {
  color: white;
  opacity: 0;
  visibility: hidden;
  font-size:36px;
  position: fixed;
  top: 20px;
  right: 26px;
  animation: closeAnima 0.3s ease forwards;
  animation-delay: 0.4s;
}

@keyframes closeAnima {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
}

.mobileFirstNav {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba($color: #bbbbbb, $alpha: .5);
  animation: mobileDivAnima 0.16s linear;
}

@keyframes mobileDivAnima {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      background-color: rgba($color: #bbbbbb, $alpha: .5);
      opacity: 1;
    }
}

.mobileFirstNavIn {
  display: none;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--blackColor);
  animation: mobileInAnima 0.3s linear;
}

@keyframes mobileInAnima {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    25% {
      opacity: 0.5;
    }

    75% {
      opacity: 0.7;
    }

    100% {
      background-color: var(--blackColor);
      transform: scale(1);
      opacity: 1;
    }
}

.firstNav {
  display: block;
  max-width: 700px;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

a.navOne {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0 37px 0 37px;
}

a:hover.navOne {
  color: var(--lightblueColor);
}

.firstNavSpan {
  display: inline-block;
  padding: 14px 20px 0 20px;
  line-height: 6em;
}

/* #endregion END (FIRST Navigation area) ------------------------------------------------------------------------- */